header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: xx-large;
    color:rgb(241, 232, 232);
    padding: 40px;
    border: 5px solid;
    border-color: antiquewhite;
    background: url("Flag_of_Ukraine.jpg");
    background-size: 100% 100%;
}
h2,h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 25px;
    color: rgb(7, 7, 123);
}

img{
    width: 800px;
    height: 400px;
}
ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 20px;
}
p{
    text-indent: 25px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
blockquote{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    border: 5px dotted;
    padding:20px;
    border-color: rgb(162, 129, 162);
    background-color:beige;
}
a{
    padding:30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color:rgb(6, 6, 116);
}
aside{
    border: 3px dashed;
    padding: 15px;
    border-color:darkcyan;
}
